@media (max-width: 576px) {
  .carousel-caption {
    font-size: 100%;
  }

  .carousel-caption h3 {
    font-size: 140%;
  }

  .carousel-caption p {
    font-size: 100%;
  }

  .button-container .btn {
    font-size: 90%;
  }

  .button-container .btn:hover {
    font-size: 90%;
  }

  .transparent-btn {
    font-size: 90%;
  }
}
