@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Poiret+One&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


.jobs-page {
  display: flex;
  flex-direction: column;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  max-width: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;



}

/* #locationFilter {
  display: flex;
  flex-direction: column;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  max-width: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
} */

.filter-section {
  font-family: "Urbanist", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 50px;
}


.page-title {
  display: flex;
  flex-direction: column;
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  text-align: center;
  color: #333;
  margin-bottom: 50px;

}

h
.filter-section {
  font-family: "Urbanist", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 50px;
}

.job-card {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px; /* Add space between cards */
  transition: border-color 0.3s;
}

.job-card:hover {
  border-color: #0d4d8d; /* Change border color on hover */
  cursor: pointer;
}

.job-header {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.job-header-content {
  font-family: "Urbanist", sans-serif;
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.job-details {
  font-family: "Urbanist", sans-serif;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80%; /* Adjust width as needed */
  margin: auto; /* Center details horizontally */
}

.job-details p {
  font-family: "thasadith", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.expanded .job-details {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  max-height: 1000px; /* Set to a large enough value to allow for expansion */
}

/* JobsPage.css */

.details-button {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  color: #fff; /* Set text color */
  background-color: #0d4d8d; /* Set background color */
  padding: 10px 15px; /* Add padding */
  border-radius: 0; /* Remove border radius */
  transition: background-color 0.3s; /* Add transition effect */
  width: 40%; /* Set width */
  margin: auto; /* Center button horizontally */
  text-decoration: none; /* Remove underline */
}

.details-button .btn {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  width: 100%;
}

.details-button:hover {
  background-color: #0056b3; /* Hover background color */
}

.details-button:focus {
  outline: none; /* Remove focus outline */
}


/* Add media query for smaller screens */
@media (max-width: 576px) {
  .job-card {
    padding: 10px; /* Adjust padding */
  }

  .job-header {
    font-size: 1.5rem; /* Adjust font size */
  }

  .job-details {
    width: 90%; /* Adjust width */
  }

  .details-button {
    width: 60%; /* Adjust width */
  }
}

