.navbar-with-border {
  border-bottom: 5px #0d4d8d solid;
  margin-bottom: 0;
}

.NavDropdown.Item {
  align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
