/* Import the Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

/* Apply Montserrat font to elements */

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1rem;
  padding: 20px;
}

h1 {
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin: 5px 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 5px 0;
}

h3, h4, h5, h6 {
  font-size: 1.5rem;
  margin: 5px 0;
}

/* Center-align text */
.text-center {
  text-align: center;
}

.custom-nav .custom-link {
  color: #0d4d8d; /* Set link color */
  text-decoration: none; /* Remove underline */
  padding: 10px 15px; /* Add padding */
}

.custom-nav .custom-link:hover {
  color: #333; /* Change color on hover */
  background-color: transparent; /* Remove background color on hover */
}
